

/*国内专家*/

.scient_nav{
    width: 688px;
    height: 1550px;
    float: left;
    margin-top: 5px;
    margin-left: 12px;
   /*border:1px solid red;*/
}
.scient_nav01{
    width: 100%;
    height: 50px;
    background-color: #e3e3e3;
    float: left;
}
.scient_title{
    width: auto;
    height: 24px;
    float: left;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #aa2b2b;
    margin-top: 8px;
    font-family:"微软雅黑";
}
.scient_msg,.scient_msg02,.scient_msg03,.scient_msg05,.scient_msg06{
    width:auto;
    height: 15px;
    float: left;
    margin-left: 340px;
    _margin-left: 230px;
    margin-top: 17px;
    font-size: 15px;
    color: #575858;
    /*border: 1px solid red;*/
}
.scient_msg01{
    width: 10px;
    height: 15px;
    float: left;
    margin-left: 8px;
    margin-top: 17px;
    font-size: 15px;
    color: #575858;
    /*border: 1px solid red;*/
}
.scient_msg02{
    margin-left: 8px;
}
.scient_nav02{
    width: 688px;
    height: 260px;
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid #a1dbff;
}
.scient_icon,.scient_icon01{
    width: 160px;
    height: 224px;
    float: left;
    margin-left: 10px;
    _margin-left: 2px;
    margin-top: 10px;
    border: 2px solid  #a1dbff;
}
.scient_icon01{
    background-color:#f0f0f0 ;
}
.scient_tip{
    width: 120px;
    height: 24px;
    float: left;
    margin-top: 90px;
    margin-left: 20px;
    _margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #c0c0c0;
    font-family:"微软雅黑";
    /*border: 1px solid red;*/
}
.scient_title01{
    width: 499px;
    height: 28px;
    background-color: #e4f1f8;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.scient_msg03{
    width: 70px;
    color: #c73232;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "宋体";
    font-weight: bold;
}
.scient_msg04{
    width: 499px;
    height: 170px;
    float: left;
    margin-top: 15px;
    /*border: 1px solid red;*/
    color:black;
    font-weight: bold;
}
.scient_td03{
    width: 180px;
    color: #083487;
    line-height: 20px;
    font-weight: normal;
    border: none;
    text-align: left;
}
.scient_td04{
    width: 80px;
    border: none;
}
.scient_footer01{
    width: 410px;
    height: 39px;
    float: left;
    margin-left: 160px;
    _margin-left: 80px;
    margin-top: 30px;
}
.scient_f1,.scient_f2,.scient_f4,.scient_f5{
    width: auto;
    height: 20px;
    padding-top: 2px;
    color: #575858;
    float: left;
    text-align: center;

}
.scient_f2{
    width:36px ;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    color: #083487;
}
.scient_f3{
    width: 30px;
    height: 25px;
    float: left;
    margin-left: 5px;
}
.scient_f4{
    width: 16px;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    color: #083487;
    background-color: #e3e3e3;
}
.scient_f5{
    width: 16px;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    color: #083487;
    background-color: transparent;
}
.scient_f5:hover{
    background-color: #e3e3e3;
}

/*科研项目*/
.scient_title02{
    width: 100%;
    height: 28px;
    background-color: #e4f1f8;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #a1dbff;
    border-bottom: 1px solid #a1dbff;
}
.scient_msg05{
    margin-left: 180px;
    _margin-left: 80px;
    margin-top: 7px;
    font-weight: bold;
}
.scient_msg06{
    margin-top: 7px;
    margin-left: 5px;
    font-weight: bold;
}
.scient_news,.scient_news02{
    width: 100%;
    height: 39px;
    float: left;
    border-bottom: 1px solid #a1dbff;
}
.scient_news01{
    width: auto;
    height: 15px;
    float: left;
    margin-left: 12px;
    margin-top: 12px;
    color:#083487 ;
}
.scient_news:hover{
    background-color: #a1dbff;
    color: #de0000;
}
.scient_news:hover .scient_news01{
    text-decoration: underline;

}
.scient_news03,.scient_news04,.scient_news003{
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    color: #575858;
    font-size: 14px;
}
.scient_news003{
    margin-right: 33px;
}
.scient_news04{
 margin-right: 20px;
}
.scient_news05{
    float: right;
    color: #575858;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 12px;
}


/*科研项目----仔细*/
.scient_nav03{
    width: 688px;
    height: 1100px;
    float: left;
    margin-top: 5px;
    margin-left: 12px;
    /*border:1px solid red;*/
}
.scient_content{
    width: 676px;
    height: auto;
    margin-left: 6px;
}
.scient_title03,.scient_title04{
    width: 100%;
    height: 25px;
    float: left;
    margin-top: 30px;
    border-bottom: 2px solid #de0000;
}

.scient_news06{
    width: auto;
    height: 15px;
    float: left;
    margin-left: 15px;
    color: #de0000;
    font-weight: bold;
    /*border: 1px solid red;*/
}
.scient_icon02,.scient_icon03{
    width: auto;
    height: 20px;
    float: left;
    margin-left:400px ;
}
.scient_icon03{
    color: #575858;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 2px;
}
.scient_table,.scient_table01,.scient_table06{
    width:100%;
    height: 230px;
    float: left;
    margin-top: 10px;
    /*border: 1px solid #a1dbff;*/
    border-collapse:collapse;
}
.scient_table01{
    height: 174px;
}
table tr td{
    border: 1px #a1dbff solid;
    text-align: right;
    /*width: 40px;*/
    height: 28px;
}
.scient_td{
    background-color: #e4f1f8;
    color: #575858;
}
.scient_td01{
    text-align: left;
    font-size: 20px;
    color: #575858;
    font-weight: bold;
}
.scient_td02{
    text-align: left;
    color: #575858;
}

/*科研项目详细*/
.scient_nav04{
    width: 1000px;
    height: 800px;

}
.scient_table02,.scient_table03,.scient_table04,.scient_table05{
    width: 960px;
    height:230px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #e3e3e3;

}
.scient_table05{
    height: 202px;
}
.scient_table04{
    height: 144px;
    border-collapse: collapse;
    width: 940px;
    margin-top: 5px;
    margin-left: 10px;
}
.scient_table03{
    width: 940px;
    margin-top: 5px;
    margin-left: 10px;
    height: 174px;
    border-collapse: collapse;
}
.scient_title04{
    width: 940px;
    margin-top: 10px;
    margin-left: 10px;
    /*border: 1px solid red;*/
}
.scient_icon04{
    height: 20px;
    color: #de0000;
    margin-left: 830px;
    margin-top: -13px;
    float: left;
    font-weight: bold;
    /*border: 1px solid red;*/
}

/*科研论文*/
.scient_table06{
    height:710px;
}
/*科研著作*/
.scient_table07{
    width: auto;
    height: 390px;
    float: left;
    margin-top: 10px;
    border-collapse: collapse;
}
.left-jstx{
    margin-top: 0;
}

/*专家搜索*/
/*.scient_left01{*/
    /*width: 300px;*/
    /*height: 260px;*/
    /*background-color: #e7f2f9;*/
    /*margin-top: 5px;*/
/*}*/
/*.scient_left_msg{*/
    /*width: auto;*/
    /*height: 15px;*/
    /*float: left;*/
    /*margin-left: 23px;*/
    /*margin-top: 23px;*/
    /*color: #083487;*/
/*}*/
/*.scient_left_text,.scient_left_text01{*/
    /*width: 120px;*/
    /*height: 15px;*/
    /*border: 1px solid #083487;*/
    /*float: left;*/
    /*margin-left: 23px;*/
    /*margin-top: 23px;*/
/*}*/
/*.scient_left_text01{*/
    /*height: 20px;*/
    /*width: 125px;*/
/*}*/
/*.scient_left_btn,.scient_left_btn01{*/
    /*width: 80px;*/
    /*height: 32px;*/
    /*clear : both;*/
    /*float:left;*/
    /*margin-left: 65px;*/
    /*margin-top: 30px;*/
    /*background-image: url("../images/buttons.png");*/
/*}*/
/*.scient_left_btn01{*/
    /*margin-left:150px;*/
    /*margin-top: -32px;*/
    /*background-position: 0 -32px;*/
/*}*/
/*.scient_left_btn:hover{*/
    /*background-image: url("../images/buttons.png");*/
    /*background-position: 0 -64px;*/
/*}*/
/*.scient_left_btn01:hover{*/
    /*background-image: url("../images/btn.png");*/
    /*background-position: 0 -64px;*/
/*}*/

/*.scient_left01{*/
    /*width: 300px;*/
    /*height: 260px;*/
    /*background-color: #e7f2f9;*/
    /*margin-top: 5px;*/
/*}*/