.body{
    margin: 0;
    padding: 0;
    font: 15px "宋体";
}
/*zxjj*/
.center_introduction{
    width: 1000px;
    height: 1250px;
    margin: 0 auto;
    margin-top: 5px;
}
.center_introduction_title{
    width: 1000px;
    height: 50px;
    background-color: #e3e3e3;
}
.center_introduction_style{
    font: italic 24px "微软雅黑";
    color: #aa2b2b;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
}
.home_page{
    font-size: 14px;
    color: #575858;
    float: right;
    margin-top: 18px;
    margin-right: 25px;
    display: inline-block;
}
.center_introduction_content{
    width: 1000px;
    height: 1200px;
    margin-top: 5px;
}
.center_introduction_content1{
    width: 621px;
    height: 984px;
    margin-left: 30px;
    float: left;
}
.first_paragraph{
    color: #292a2c;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 20px;
}
.second_paragraph{
    height: 350px;
    position: relative;
}
.second_paragraph1,.second_paragraph2,.second_paragraph3{
    position: absolute;
}
.second_paragraph3{
    left: 45px;
}
.second_paragraph2{
    top: 165px;
}
.second_paragraph1{
    top: 38px;
    right: 10px;
}
.center_introduction_content2{
    width: 300px;
    height: 1107px;
    float: right;
    background-color: #e7f2f9;
}
.center_big_thing{
    height: 50px;
    background-color: #a1dbff;
}
.big_thing_logo{
    margin-left: 55px;
    float: left;
}
.center_big_thing_style{
    float: left;
    display: inline-block;
    margin-top: 13px;
    margin-left: 20px;
    font: bolder italic 18px "微软雅黑";
    color: #083386;
}
.tzof{
    width: 270px;
    margin-left: 13px;
    color: #424343;
}
.tzof1{
    margin-top: 10px;
}
.time_title{
    color: #083386;
    font: bolder italic 15px "微软雅黑";
    float: left;
}
.gang{
    margin-top: 10px;
    float: right;
}
.tzof_content{
    clear: both;
    list-style-image: url("../images/red_point.png");
    padding: 0px;
    margin-left: 20px;
    padding-top: 5px;
}
.tzof_content>li{
    margin-bottom: 5px;
}
/*gnzj-xx*/
.domestic_experts{
    width: 1000px;
    height: 1350px;
    margin: 0 auto;
    margin-top: 5px;
}
.domestic_experts_xx{
    width: 930px;
    height: 1250px;
    margin: 0 auto;
    margin-top: 10px;
}
.basic_situation{
    height: 510px;
    width: 930px;
    border: 1px solid #e3e3e3;
    position: relative;
}
.basic_situation_title{
    color: #cc0000;
    font: bolder 20px "微软雅黑";
    width: 910px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 2px solid #cc0000;
    margin-top: 5px;
}
.back_page{
    float: right;
    font: bolder 15px "宋体";
    margin-right: 45px;
    margin-top: 10px;
}
.msc,.ren{
    position: absolute;
    border: 2px solid #8adaf5;
    left: 20px;
    top: 60px;
}
.name{
    position: absolute;
    left: 80px;
    top: 300px;
}
.basic_situation_content tr td{
    border: 1px solid #8adaf5;
    height: 30px;
}
.basic_situation_content{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 23px;
    margin-left: 200px;
    color: #232323;
}
.attribute{
    width: 84px;
    background-color: #e4f1f8;
    text-align: center;
}
.tab_con1{
    width: 196px;
}
.tab_con2{
    width: 120px;
}
.main_experience,.professional_level{
    height: 340px;
    width: 930px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
}
.main_experience_content tr td{
    width: 450px;
    border: 1px solid #8adaf5;
}
.main_experience_content{
    border-collapse: collapse;
    table-layout: fixed;
    color: #232323;
    margin-top: 10px;
    margin-left: 13px;
}
.experience{
    height: 30px;
    background-color: #e4f1f8;
    font-weight: bolder;
    text-indent: 15px;
}
.experience_content{
    height: 58px;
    font-size: 14px;
}
/*index*/
.index{
    width: 1000px;
    height: 1720px;
    margin: 0 auto;
    margin-top: 10px;
}
.index_news{
    width: 998px;
    height: 325px;
    border: 1px solid #e3e3e3;
}
.news_img{
    position: relative;
    width: 400px;
    height: 305px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 0;
    float: left;
}
.xw{
    width: 400px;
    height: 266px;
    position: absolute;
}
.news_number{
    position: absolute;
    right: 10px;
    bottom: 49px;
}
.number{
    background-color: #000;
    padding: 1px 4px;
    color: #fff;
    font-size: 14px;
}
.number:hover{
    background-color: #e10000;
}
.xw_title{
    position: absolute;
    top: 266px;
    width: 400px;
    height: 39px;
    background-color: #083588;
    color: white;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
}
.news_content{
    height: 305px;
    width: 576px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.news_content_title{
    color: #083588;
    font: bolder 28px "微软雅黑";
}
.news_content_con{
    font-size: 12px;
    color: #6a6a6a;
    line-height: 16px;
}
.xx_style{
    color: #3aa3d9;
}
.news_content_title1{
    width: 575px;
    height: 29px;
    background: url("../images/news-bg.png");
    margin-top: 7px;
    position: relative;
    border-bottom: 1px solid #ff6549;
    color: #363636;
}
.zxxw1,.zxxw2,.zxxw3{
    width: 98px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: -3px;
    text-align: center;
    line-height: 35px;
    font-weight: bolder;
}
.zxxw1{
    background: url("../images/jianjiao.png");
    color: #fff;
    left: 5px;
}
.zxxw2{
    left: 145px;
}
.zxxw2:hover{
    background: url("../images/jianjiao.png");
    color: #fff;
}
.zxxw3{
    left: 280px;
}
.zxxw3:hover{
    background: url("../images/jianjiao.png");
    color: #fff;
}
.news_content_con1{
    width: 575px;
    height: 183px;
    background-color: #e9ecee;
}
.news_content_con1_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #083588;
}
.news_content_con1_ul>li{
    width: 555px;
    height: 33px;
    border-bottom: 1px solid #fff;
}
.jiantou{
    margin-top: 15px;
    margin-left: 10px;
}
.banner1,.banner2{
    width: 998px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner1{
    background: url("../images/bar.png") no-repeat 0 0;
}
.information_resources{
    width: 998px;
    height: 220px;
    background: url("../images/xxzl-bg.png") no-repeat -1px 0;
    border: 1px solid #738eba;
    margin-bottom: 10px;
}
.xxzy_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 0;
    margin-top: 5px;
}
.zlhz_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 -24px;
    margin-top: 5px;
}
.xqhz_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 -48px;
    margin-left: 10px;
    margin-top: 5px;
}
.zcfg_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 -72px;
    margin-top: 5px;
}
.zjsjk_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 -96px;
    margin-top: 5px;
}
.kycg_s{
    width: 420px;
    height: 24px;
    background: url("../images/title.png") no-repeat 0 -120px;
    margin-top: 5px;
}
.gd_s{
    float: right;
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
    color: #083588;
}





.chinese,.ewen{
    width: 475px;
    height: 155px;
    background-color: #ffffff;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
    border-left: 1px solid #cacbcd;
    border-right: 1px solid #cacbcd;
    border-top: 1px solid #cacbcd;
    position: relative;
}
.wz{
    width: 159px;
    height: 31px;
    position: absolute;
    top: -7px;
    left: 5px;
    background: url("../images/wz.png");
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    line-height: 30px;
}
.chinese_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 20px;
    color: #083588;
    float: left;
}
.chinese_ul>li{
    width: 200px;
    height: 25px;
}
.ewen1,.ewen2,.ewen3{
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.ewen1{
    margin-top: 35px;
}
.ewen2{
    margin-top: 35px;
}
.ewen3{
    margin-top: 10px;
}
.ewen_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #083588;
    float: left;
}
.ewen_ul>li{
    width: 200px;
    height: 25px;
}
.ewen1_title{
    font-weight: bolder;
    margin-left: 5px;
    color: #4d4d4d;
}

.ewen3_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #083588;
    float: left;
}
.ewen3_ul>li{
    width: 100px;
    height: 25px;
    float: left;
}
.strategic_cooperation{
    width: 998px;
    height: 283px;
    background: url("../images/xxzl-bg.png") no-repeat -1px -222px;
    border: 1px solid #738eba;
}
.strategic_cooperation_nav{
    width: 245px;
    height: 200px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
    position: relative;
}
.sxjt{
    position: absolute;
    left: 40px;
    top: 6px;
}
.strategic_cooperation_nav1{
    width: 184px;
    height: 28px;
    background: url("../images/zlhz-nav.png") no-repeat 0 0;
    margin: 0 auto;
    margin-bottom: 13px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
}
.strategic_cooperation_nav1:hover{
    background: url("../images/zlhz-nav.png") no-repeat 0 -28px;
}
.culture,.travel{
    width: 345px;
    height: 215px;
    background-color: #ffffff;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
    border-left: 1px solid #cacbcd;
    border-right: 1px solid #cacbcd;
    border-top: 1px solid #cacbcd;
    position: relative;
}
.culture_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    color: #083588;
}
.culture_ul>li{
    width: 340px;
    height: 25px;
}
.banner2{
    background: url("../images/bar.png") no-repeat 0 -120px;
}
.ue_cooperation,.policies_regulations{
    float: left;
    width: 570px;
    height: 283px;
    background: url("../images/xxzl-bg.png") no-repeat -1px -222px;
    border: 1px solid #738eba;
}
.ue_cooperation_menu{
    width: 541px;
    height: 29px;
    background-color: #e2e2e3;
    border-bottom: 1px solid #ff6549;
    position: relative;
    color: #484848;
}
.xxzy1,.xxzy2,.xxzy3{
    width: 98px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: -8px;
    text-align: center;
    line-height: 43px;
    font-weight: bolder;
}
.xxzy1{
    background: url("../images/cgzh.png");
    color: #fff;
    left: 10px;
}
.xxzy2{
    left: 145px;
}
.xxzy2:hover{
    background: url("../images/cgzh.png");
    color: #fff;
}
.xxzy3{
    left: 280px;
}
.xxzy3:hover{
    background: url("../images/cgzh.png");
    color: #fff;
}
.ue_cooperation_con{
    width: 541px;
    height: 219px;
    border-left: 1px solid #cacbcd;
    border-right: 1px solid #cacbcd;
    border-top: 1px solid #cacbcd;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 25px;
}
.ue_cooperation_con_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    color: #083588;
}
.ue_cooperation_con_ul>li{
    width: 541px;
    height: 25px;
}
.expert_database,.scientific_achievements{
    float: right;
    width: 422px;
    height: 283px;
    background: url("../images/xxzl-bg.png") no-repeat -1px -222px;
    border: 1px solid #738eba;
}
.policies_regulations,.scientific_achievements{
    margin-top: 5px;
}
.expert_database_con{
    width: 189px;
    height: 219px;
    background-color: #ffffff;
    border-left: 1px solid #cacbcd;
    border-right: 1px solid #cacbcd;
    border-top: 1px solid #cacbcd;
    float: left;
    margin-left: 13px;
    margin-top: 25px;
}
.expert_database_title{
    width: 189px;
    height: 28px;
    background: url("../images/gnzj-bg.png");
    border-bottom: 1px solid #ff6549;
    color: #ffffff;
    font-weight: bolder;
    line-height: 28px;
    text-indent: 10px;
}
.expert_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #083588;
}
.expert_ul>li{
    width: 189px;
    height: 25px;
}
.scientific_achievements_menu{
    width: 400px;
    height: 29px;
    background: #083588;
    border-bottom: 1px solid #ff6549;
    position: relative;
}
.kycg1,.kycg2,.kycg3{
    width: 98px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: -3px;
    text-align: center;
    line-height: 38px;
    font-weight: bolder;
    color: #fff;
}
.kycg1{
    background: url("../images/kycg-bg.png");
    left: 10px;
}
.kycg2{
    left: 145px;
}
.kycg2:hover{
    background: url("../images/kycg-bg.png");
}
.kycg3{
    left: 280px;
}
.kycg3:hover{
    background: url("../images/kycg-bg.png");
}
.scientific_achievements_con{
    width: 400px;
    height: 219px;
    border-left: 1px solid #cacbcd;
    border-right: 1px solid #cacbcd;
    border-top: 1px solid #cacbcd;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 25px;
}
.scientific_achievements_con_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    color: #083588;
}
.scientific_achievements_con_ul>li{
    width: 390px;
    height: 25px;
}
